node_modules/
venv/
balarama-maker/
.env

# Large media files
*.mp4
*.mp3
*.wav
*.part
temp_assets/


credentials.json
.env


client_secrets.json


.env*
*credentials*.json
*secret*.json


.env*
*credentials*.json
*secret*.json
*.mp4
*.mp3
temp_assets/

